.code-pane {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-bg);
  padding: calc(var(--spacing) * 10);
  border: 1px solid var(--color-linework);
  overflow: hidden;
  font-family: monospace;
}

.code-pane__body {
  flex: 1;
  margin: 0;
  font-size: 1.2rem;
  overflow: auto;
}

.code-pane__body:last-child {
  border-top: none;
}

.code-pane__line {
  display: table-row;
}

.code-pane__lineno {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  opacity: 0.5;
}

.code-pane__controls {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--spacing) * 10);
}

.code-pane__info {
  margin: 0;
  font-size: 1.4rem;
}

.code-pane__name {
  position: absolute;
  top: calc(var(--spacing) * 10);
  right: calc(var(--spacing) * 10);
}

.code-pane__synthesize {
  display: flex;
  align-items: center;
  background: none;
  padding: 0;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: monospace;
}

.code-pane__synthesize-icon {
  padding-right: calc(var(--spacing) * 2);
}
