.example-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  list-style-type: none;
  padding: 6rem;
  max-width: 1280px;
}

.example-list__item {
  align-self: center;
}
