@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .stack-sm > * + * {
    @apply mt-4;
  }

  .stack-md > * + * {
    @apply mt-8;
  }

  .stack-lg > * + * {
    @apply mt-16;
  }

  .stack-xl > * + * {
    @apply mt-20;
  }
}

:root {
  --color-linework: #e2e2e2;
  --color-bg: #fbfbfb;
  --color-link: #e7131a;
  --spacing: 0.2rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

svg {
  font: 10px system-ui, sans-serif;
}

.viz {
  grid-area: viz;
}

.no-fouc {
  visibility: hidden;
  opacity: 0;
}

.fouc {
  visibility: visible;
  opacity: 1;
}
