# Build
dist

# System
.DS_Store

# Node
node_modules

# Editor
.vscode

# Next
.next

# TypeScript
tsconfig.tsbuildinfo

# Jest
coverage

# Latex
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

# Logs
lerna-debug.log*

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions