@tailwind base;
@tailwind components;
@tailwind utilities;

/* Code Mirror */
.cm-editor {
  @apply h-full;
}

/* File Input */
input[type="file"],
input[type="file"]::-webkit-file-upload-button {
  @apply cursor-pointer;
}

@layer utilities {
  /* Block Stack */
  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .stack > * {
    margin-block: 0;
  }

  .stack-xs > * + * {
    margin-block-start: 0.5rem;
  }

  .stack-sm > * + * {
    margin-block-start: 1rem;
  }

  .stack-md > * + * {
    margin-block-start: 1.5rem;
  }

  .stack-lg > * + * {
    margin-block-start: 2rem;
  }

  /* Inline Stack */
  .stack-h {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .stack-h > * {
    margin-inline: 0;
  }

  .stack-h-xs > * + * {
    margin-inline-start: 0.5rem;
  }

  .stack-h-sm > * + * {
    margin-inline-start: 1rem;
  }

  .stack-h-md > * + * {
    margin-inline-start: 1.5rem;
  }

  .stack-h-lg > * + * {
    margin-inline-start: 2rem;
  }
}

@layer components {
  .tab-trigger[data-state="active"] {
    @apply relative;
  }

  .tab-trigger[data-state="active"]::after {
    @apply absolute bottom-0 left-0 h-1 w-full;
    content: "";
    background: radial-gradient(theme("colors.primary") 25%, transparent 25%);
    background-size: 2px 2px;
  }

  .tab-content[data-state="inactive"] {
    @apply hidden;
  }

  .data-grid tr::before {
    @apply absolute left-0 top-0 w-full border-b border-slate-400;
    content: "";
  }

  .data-grid tr::after {
    @apply absolute bottom-0 left-0 w-full border-t border-slate-400;
    content: "";
  }

  .data-grid tr:first-child td {
    @apply border-t-0;
  }
}
