@tailwind base;
@tailwind components;
@tailwind utilities;

/* File Input */
input[type="file"],
input[type="file"]::-webkit-file-upload-button {
  @apply cursor-pointer;
}

@layer utilities {
  /* Block Stack */
  .stack {
    @apply flex flex-col justify-start;
  }

  .stack > * {
    margin-block: 0;
  }

  .stack > * + * {
    margin-block-start: 1rem;
  }

  /* Inline Stack */
  .stack-h {
    @apply flex justify-start;
  }

  .stack-h > * {
    margin-inline: 0;
  }

  .stack-h > * + * {
    margin-inline-start: 0.25rem;
  }
}

@layer components {
  .tab-trigger[data-state="active"] {
    @apply relative;
  }

  .tab-trigger[data-state="active"]::after {
    @apply absolute bottom-0 left-0 h-1 w-full;
    content: "";
    background: radial-gradient(theme("colors.primary") 25%, transparent 25%);
    background-size: 2px 2px;
  }

  .tab-content[data-state="inactive"] {
    @apply hidden;
  }

  .data-grid tr::before {
    @apply absolute left-0 top-0 w-full border-b border-slate-400;
    content: "";
  }

  .data-grid tr::after {
    @apply absolute bottom-0 left-0 w-full border-t border-slate-400;
    content: "";
  }

  .data-grid tr:first-child td {
    @apply border-t-0;
  }

  .tooltip-content {
    @apply select-none;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
  }

  .tooltip-content[data-state="delayed-open"][data-side="left"] {
    animation-name: slideRightAndFade;
  }

  .tooltip-content[data-state="delayed-open"][data-side="bottom"] {
    animation-name: slideUpAndFade;
  }

  @keyframes slideRightAndFade {
    from {
      @apply -translate-x-0.5 opacity-0;
    }

    to {
      @apply translate-x-0 opacity-100;
    }
  }

  @keyframes slideUpAndFade {
    from {
      @apply translate-y-0.5 opacity-0;
    }

    to {
      @apply translate-y-0 opacity-100;
    }
  }
}
