body {
  margin: 0;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  font: 10px system-ui, sans-serif;
}

.example-list {
  list-style-type: none;
  padding-left: 0;
}

.example-list > * {
  margin-top: 0;
}

.example-list > * + * {
  margin-top: 1rem;
}

.example-list__item {
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  padding: 0.25rem;
  border-radius: 10px;
  transition: transform 0.2s ease-out;
}

.example-list__item:hover {
  transform: translateX(10px);
}

.example-list__link {
  display: block;
  border-radius: 7.5px;
  padding: 0.5rem;
  text-decoration: none;
  font-family: system-ui, sans-serif;
  color: #000000;
  background: #ffffff;
}
